*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-end;
}

/*Левая колонка*/

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/*Форма поиска*/

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
  border-radius: 0%;
}

/*Поисковая строка*/

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  padding-left: 0;
  background-color: inherit;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  appearance: none;
  color: #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/*Чекбокс 'Время суток'*/

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content:'';
  width: 100%;
  height: 100%;
  display: block;
  background-color: #FFF;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  opacity: 1;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 0%;
  cursor: pointer;
}

/*Кнопка (общие стили + 'Найти')*/

.button {
  min-height: 34px;
  border: 1px solid #FFF;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #FFF;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 0%;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
  border-radius: 0%;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

/*Правая колонка*/

.content__details {
  height: inherit;
  width: 399px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: 0%;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

/*Список*/

.content__list-container {
  height: 298px;
  width: inherit;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 30px;
  position: relative;
  z-index: 0;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*Карточка*/

.content__list-item {
  padding: 0 3px;
  cursor: pointer;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
  display: block;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0%;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
  border-radius: 0%;
}

.content__video-card-description-container {
  width: 196px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0%;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  line-clamp: 4;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

/*Кнопка 'Показать еще'*/

.more-button {
  display: block;
  width: 100%;
}

/*Стили для скрытых элементов*/

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
